/*reset rules*/
*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img   {
    max-width: 100%;
    display: block;
}

a:not(.testimonials-link)  {
    text-decoration: none;
    color: currentColor;
}

ul,
ol  {
    list-style: none;
}

/*LAYOUT*/
.container  {
    max-width: 1000px;
    margin: 0 auto;
}


.container-lg   {
    max-width: 1200px;
    margin: 0 auto;
}

html{
    font-family: 'Roboto', sans-serif;
}

.row    { 
    display: flex;
    flex-wrap: wrap;
}


/*HEADER*/

.main-header    {
    display: flex;
    padding: 23px 18px;
    align-items: center;
    gap: 18px;
}

.main-header .menu  {
    display: flex;
}

.main-header .menu__item    {
    padding: 0 16px;
}

.main-header .menu__item a  {
    line-height: 35px;
    display: block;
    padding: 0 16px;

}


nav button  {
    background-color: blue;
    color: white;
    padding: 10px;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*HERO*/
#hero   {
    background-color: lightblue;
    padding-top: 100px;
}

.hero__title    {
    font-size: 74px;
    margin-bottom: 48px;
}

.row    {
    display: flex;
    flex-wrap: wrap;
}

.col-4  {
    flex-basis: calc(100%/3);
}

.col-8  {
    flex-basis: calc(100%*2/3);
}

.col-12 {
    flex-basis: calc(100%/1);
}

/*COMPONENTS*/
.hero__button {
    display: inline-block;
    line-height: 44px;
    font-size: 18px;
    padding: 0 16px;
    text-align: center;
    color: white;
    background-color: blue;
}

.hero__content  {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.hero__content i    {
    margin-top: auto;
    font-size: 64px;
    padding-bottom: 10px;
}

.row img  {
    aspect-ratio: 16/9;
}

/*PLAN*/

.radio-input .circle    {
    display: block;
    width:20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

.radio-input    {
    display: flex;
    gap: 10px;
    align-items: center;
}

.radio-input.checked .circle    {
    border-color: blue;
    border-width: 4px;
}

.radio-wrapper  {
    gap:64px;
}

.card-wrapper *   {
    /*border: 1px solid black;*/
    padding: 20px;
    flex-basis: 33%;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#plan   {
    padding: 160px 0 72px;
}

.col-12 {
    flex-grow: 1;
    flex-basis: 0;
}

.card   {
    border: 1px solid lightgrey;
}

.card__header   {
    border-bottom: 1px solid lightgrey;
}

.try-button     {
    background-color: blue;
    color: white;
}

.number-of-users::before  {
    font-family: "Font Awesome 5 Free";
    content: '\f007'
}


/*PARTNER*/

.partner-row    {
    display: flex;

}

.partner-text   {
    flex-basis: 40%;
    padding: 30px;
}

.partner-title  {
    margin-bottom: 30px;
}

.trova-un-partner-button {
    margin-top: 30px;
}


/*BUSINESS*/

#business-section-title  {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 40px;
    margin-top: 50px;
}
#business-section .row {
    display: flex;
}

.card-frame {
    flex-basis: calc(100%/3);
}

.card-frame .card-title    {
    margin-bottom: 20px;
}

/*TESTIMONIALS*/

.testimonials-block     {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.33%;
}

.testimonials-text  {
    flex-basis: 33.33%;
    background-color: lightgrey;
    align-content: center;
    padding: 10px;
}

.testimonials-text img  {
    width: 400px;
}

.testimonial   {
    flex-basis: calc(100%/2);
    align-content: center;
    padding: 10px;
    aspect-ratio: 1;
}


.testimonial1   {
    background-color: lightgreen;
}

.testimonial2   {
    background-color: rebeccapurple;
}

.testimonial3   {
    background-color: lightskyblue;
}

.testimonial4   {
    background-color: red;
}

.container-lg .row  {
    display: flex;
    justify-content: center;
}

#testimonial-section .container    {
    margin-bottom: 50px;
}

.team-description   {
    margin-top: 20px;
    margin-bottom: 40px;
}

.testimonial-section-footer {
    padding:50px;
    background-color: lightsteelblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testimonial-section-footer button  {
    padding:20px;
}

/*FAQ*/
.dropdown-content   {
    display: none;
}
.dropdown   {
    margin: 20px;
}




/*FOOTER*/

.page-footer h2    {
    margin-top:20px;
    padding: 20px;
    text-align: left;
}

.footer-row     {
    display: flex;
    justify-content: center;
}

.footer-column  {
    flex-basis: calc(100%/5);
}

.page-footer    {
    background-color: black;
    color: white;
}

.page-footer li {
    padding: 10px;
}