/*reset rules*/
*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img   {
    max-width: 100%;
    display: block;
}

a   {
    text-decoration: none;
    color: currentColor;
}

ul,
ol  {
    list-style: none;
}

/*LAYOUT*/
.container  {
    max-width: 1000px;
    margin: 0 auto;
}


.container-lg   {
    max-width: 1200px;
    margin: 0 auto;
}

html{
    font-family: 'Roboto', sans-serif;
}

.row    { 
    display: flex;
    flex-wrap: wrap;
}


/*HEADER*/

.main-header    {
    display: flex;
    padding: 23px 18px;
    align-items: center;
    gap: 18px;
}

.main-header .menu  {
    display: flex;
}

.main-header .menu__item    {
    padding: 0 16px;
}

.main-header .menu__item a  {
    line-height: 35px;
    display: block;
    padding: 0 16px;

}


nav button  {
    background-color: blue;
    color: white;
    padding: 10px;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*HERO*/
#hero   {
    background-color: lightblue;
    padding-top: 100px;
}

.hero__title    {
    font-size: 74px;
    margin-bottom: 48px;
}

.row    {
    display: flex;
    flex-wrap: wrap;
}

.col-4  {
    flex-basis: calc(100%/3);
}

.col-8  {
    flex-basis: calc(100%*2/3);
}

.col-12 {
    flex-basis: calc(100%/1);
}

/*COMPONENTS*/
.hero__button {
    display: inline-block;
    line-height: 44px;
    font-size: 18px;
    padding: 0 16px;
    text-align: center;
    color: white;
    background-color: blue;
}

.hero__content  {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.hero__content i    {
    margin-top: auto;
    font-size: 64px;
    padding-bottom: 10px;
}

.row img  {
    aspect-ratio: 16/9;
}

/*PLAN*/

.radio-input .circle    {
    display: block;
    width:20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

.radio-input    {
    display: flex;
    gap: 10px;
    align-items: center;
}

.radio-input.checked .circle    {
    border-color: blue;
    border-width: 4px;
}

.radio-wrapper  {
    gap:64px;
}

.card-wrapper *   {
    /*border: 1px solid black;*/
    padding: 20px;
}

#plan   {
    padding: 160px 0 72px;
}

.col-12 {
    flex-grow: 1;
    flex-basis: 0;
}

.card   {
    border: 1px solid lightgrey;
}

.card__header   {
    border-bottom: 1px solid lightgrey;
}

.try-button     {
    background-color: blue;
    color: white;
}


