/*reset rules*/
*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img   {
    max-width: 100%;
    display: block;
}

a:not(.testimonials-link)  {
    text-decoration: none;
    color: currentColor;
}

ul,
ol  {
    list-style: none;
}

/*LAYOUT*/
.container  {
    max-width: 1000px;
    margin: 0 auto;
}


.container-lg   {
    max-width: 1200px;
    margin: 0 auto;
}

html{
    font-family: 'Roboto', sans-serif;
}

.row    { 
    display: flex;
    flex-wrap: wrap;
}

button:hover  {
    cursor: pointer;
}

/*HEADER*/

.main-header    {
    display: flex;
    padding: 23px 18px;
    align-items: center;
    gap: 18px;
}

.main-header .menu  {
    display: flex;
}

.main-header .menu__item    {
    padding: 0 16px;
}

.main-header .menu__item a  {
    line-height: 35px;
    display: block;
    padding: 0 16px;

}


nav button  {
    background-color: blue;
    color: white;
    padding: 10px;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*HERO*/
#hero   {
    background-color: lightblue;
    padding-top: 100px;
}

.hero__title    {
    font-size: 74px;
    margin-bottom: 48px;
}

.row    {
    display: flex;
    flex-wrap: wrap;
}

.col-4  {
    flex-basis: calc(100%/3);
}

.col-8  {
    flex-basis: calc(100%*2/3);
    position:relative;
}

.col-8 img  {
    position: absolute;
    top: 5px;
}

.col-12 {
    flex-basis: calc(100%/1);
}



/*COMPONENTS*/
.hero__button {
    display: inline-block;
    line-height: 44px;
    font-size: 18px;
    padding: 0 16px;
    text-align: center;
    color: white;
    background-color: blue;
}

.hero__content  {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.hero__content i    {
    margin-top: auto;
    font-size: 64px;
    padding-bottom: 10px;
}

.row img  {
    aspect-ratio: 16/9;
}

/*PLAN*/

.radio-input .circle    {
    display: block;
    width:20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

.radio-input    {
    display: flex;
    gap: 10px;
    align-items: center;
}

.radio-input.checked .circle    {
    border-color: blue;
    border-width: 4px;
}

.radio-wrapper  {
    gap:64px;
    display: flex;
    justify-content: flex-start;
}

.card-wrapper *   {
    /*border: 1px solid black;*/
    padding: 20px;
    margin-bottom: 30px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.col    {
    flex-basis: calc(100%/3);
    margin: 0px;
}

#plan   {
    padding: 160px 0 72px;
}

.col-12 {
    flex-grow: 1;
    flex-basis: 0;
}

.card   {
    border: 1px solid lightgrey;
}

.card__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card__header   {
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.try-button     {
    background-color: blue;
    color: white;
}



/*CARDS*/
.number-of-users    {
    display: flex;
}

.space  {
    display: flex;
}

.functions  {
    display: flex;
}

.cost   {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
}

.period {
    margin-top: 0px;
    padding-top: 0px;
}

.acquista-ora   {
    display: flex;
    align-items: center;
    
}

.punti-salienti li{
    display: flex;
}

/*bigger card*/
.big-card-body    {
    display: flex;
    flex-direction: row;
}

/*PARTNER*/

.partner-row    {
    display: flex;

}

.partner-text   {
    flex-basis: 40%;
    padding: 30px;
}

.partner-title  {
    margin-bottom: 30px;
}

.trova-un-partner-button {
    margin-top: 30px;
}


/*BUSINESS*/

#business-section-title  {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 40px;
    margin-top: 50px;
}
#business-section .row {
    display: flex;
}

.card-frame {
    flex-basis: calc(100%/3);
}

.card-frame .card-title    {
    margin-bottom: 20px;
}

/*TESTIMONIALS*/

.testimonials-block     {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.33%;
    position: relative;
}

.testimonials-text  {
    flex-basis: 33.33%;
    background-color: lightgrey;
    align-content: center;
    padding: 10px;
}

.testimonials-text img  {
    width: 400px;
}

.testimonial   {
    flex-basis: calc(100%/2);
    align-content: center;
    padding: 10px;
    aspect-ratio: 1;
    display: flex;
    position:relative;
}

/*Testimonial Hover effects*/

.testimonial1:hover::after {
    content: "";
    display:block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 10px solid rgba(255, 255 ,255, 0.5);
}

.testimonial2:hover::after {
    content: "";
    display:block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 10px solid rgba(255, 255 ,255, 0.5);
}

.testimonial3:hover::after {
    content: "";
    display:block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 10px solid rgba(255, 255 ,255, 0.5);
}

.testimonial4:hover::after {
    content: "";
    display:block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 10px solid rgba(255, 255 ,255, 0.5);
}



.testimonial img    {
    justify-content: center;
    align-items: center;
}

.testimonial1   {
    background-color: lightgreen;
}

.testimonial2   {
    background-color: rebeccapurple;
}

.testimonial3   {
    background-color: lightskyblue;
}

.testimonial4   {
    background-color: red;
}




.container-lg .row  {
    display: flex;
    justify-content: center;
}

#testimonial-section .container    {
    margin-bottom: 50px;
}

.team-description   {
    margin-top: 20px;
    margin-bottom: 40px;
}

.testimonial-section-footer {
    padding:50px;
    background-color: lightsteelblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testimonial-section-footer button  {
    padding:20px;
}

.testimonial-section-footer p  {
    font-size: x-large;
    font-weight: bold;
}



/*FAQ*/

.faq-title  {
    margin-bottom: 50px;
}

.dropdown-content   {
    display: none;
}
.dropdown h2  {
    margin: 20px;
}

#faq-section    {
    margin-top: 100px;
    margin-bottom: 100px;
}

.question   {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    
  }


.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.faq-line   {
    height: 20px;
    border-bottom: 2px;
    border-color: grey;
    width: 1000px;
}

.question h2    {
    position: relative;
}

.question h2::before    {
    content:'';
    position:absolute;
    background: lightgrey;
    display:block;
    width:1000px;
    height: 5px;
    top:-32px;
}

/*.dropdown h2:last-of-type::after   { l'intenzione era mettere una linea dopo l'ultima domanda nella sezione faq, ma così non funziona
    content:'';
    position:absolute;
    background: lightgrey;
    display:block;
    width:1000px;
    height: 5px;
    bottom:32px;
}*/ 

.last-question::after  {
    content:'';
    position:absolute;
    background: lightgrey;
    display:block;
    width:1000px;
    height: 5px;
    bottom: -32px;
}

/*FOOTER*/

.page-footer h2    {
    margin-top:20px;
    padding: 20px;
    text-align: left;
}

.footer-row     {
    display: flex;
    justify-content: center;
}

.footer-column  {
    flex-basis: calc(100%/5);
}

.page-footer    {
    background-color: black;
    color: white;
}

.page-footer li {
    padding: 10px;
}

.page-footer  hr  {
    background-color: azure;
}

.mini-footer .arrow.down    {
    border-color: white;

}

.mini-footer    {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.language  h2 {
    text-align: center;
    margin-top: 0px;
    align-content: center;
}
